* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.hero {
  height: 100%;
  background: url('./images/hero.jpg');
  background-size: cover;
  background-position: center;
}
.hero .content {
  width: 100%;
  height: 100%;

}
section {
  position: relative;
  width: 100%;
}
nav {
  text-transform: uppercase;
  letter-spacing: .3em;
  font-family: raleway;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  padding-top: 15px;
  padding-bottom: 60px;
}
nav a:hover {
  color: #ab977a;
}
.nav-left {
  float: left;
  margin: 2% 0 0 10%;
  font-family: raleway;
}
.nav-right {
  float: right;
  margin: 2% 10% 0 0;
}
.nav-right a, .nav-left a {
  // margin-left: 30px;
  color: white;
}
.name {
  position: absolute;
  text-align: center;

  // margin-bottom: 20%;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  // vertical-align: middle;
  box-sizing: border-box;
}
h1  {
  font-family: 'Raleway', san-serif;
  font-weight: 600;
  font-size: 5em;
  color: white;
}
.name p {
  font-family: 'Lusitana', san-serif;
  font-size: 1.5em;
  color: white;
}
.name-hr {
  border-top: 3px solid #fff;
  margin: 2em auto;
  width: 140px;
}
hr {
  border: 0;
}
.about-me {
  background-color: #f4f4f4;
  padding-bottom: 430px;
}
.about-me h2, .portfolio h2, .contact h2 {
  font-weight: 600;
  font-family: 'Raleway', san-serif;
  letter-spacing: .4em;
  font-size: 1.4em;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
}
.about-hr {
  border-top: 3px solid #ab977a;
  margin: 2em auto;
  width: 100px;
}
.about-me h3 {
  font-family: 'Raleway', san-serif;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1px;
  letter-spacing: .3em;
}
.about-me p {
  margin-top: 25px;
  font-size: 1em;
  font-family: 'Lusitana', san-serif;
  color: #7a7a7a;
}
.about-me-section {
  width: 33.333333%;
  float: left;
}
.about-me-section div {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 15px;
}
.about-me-section div:nth-child(2) {
  width: 60%;
}
.about-me-info {
  position: relative;
  padding-left: 10%;
}
.portfolio {
  padding-bottom: 500px;
}
.portfolio-container {
  margin: 0 auto;
  width: 75%;
  margin-top: 70px;
  max-width: 1050px;
  // margin-left: 15%;
}
figcaption {
  position: absolute;
  top: 27%;
  text-align: center;
  width: calc(100% - 30px);
}
figcaption h3 {
  color: white;
  font-weight: 500;
  font-family: 'Raleway', san-serif;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 1.1em;
  background-color: black;
}
.portfolio-indiv {
  display: inline-block;
  width: 33.333%;
  float: left;
  padding: 15px;
  // padding-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.portfolio div img {
  transition: opacity .35s;
  width: 100%;
}

.portfolio h3:hover {
  font-size: 1.3em;
  font-style: italic;
}
button, .btn {
  font-family: 'Raleway', san-serif;
  padding: 8px;
  opacity: 1;
  // background: none repeat scroll 0 0 #987f5b;
  border: medium none;
  color: #fff;
  font-size: 0.875em;
  font-weight: 300;
  height: 35px;
  letter-spacing: 2px;
  line-height: 1;
  margin-top: 40px;
  padding: 12px;
  background-size: 200% 100%;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #987f5b 50%, black 50%);
  transition: background-position .3s ease 0s;
}
button:hover, .btn:hover {
  background-position: -100% 0;
  cursor: pointer;
}
button:focus, .btn:focus {
  outline: none;
}
.contact {
  min-height: 800px;
  background-color: #f4f4f4;
}
.query {
  text-align: center;
  color: #7a7a7a;
  font-size: 1.3em;
}
.contact-form {
  // margin-top: 50px;
  margin: 50px auto;
  width: 27%;
}
#name, #email, #comment {
  margin-bottom: 1.3em;
  height: 3.5em;
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  border-color: #acacac;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #000;
  font-family: 'Lusitana',serif;
  font-size: 1.2em;
  resize: none;
  text-align: left;
  border-radius: 0;
}
#name::-webkit-input-placeholder, #email::-webkit-input-placeholder, #comment::-webkit-input-placeholder{
  color: black !important;
  font-family: 'Lusitana',serif;
}
#name:focus, #email:focus, #comment:focus{
  outline: none;
}
.btn {
  width: 100%;
}
.direct-email, .direct-email a {
  text-align: center;
  color: #000;
  font-size: 1.1em;
}
.direct-email a {
  font-size: .98em;
  text-decoration: underline;
}
.direct-email a:hover {
  color: #acacac;;
}
.social {
  text-align: center;
}
.social a {
  border-bottom: 2px solid #ab977a;
  color: #000;
  display: inline-block;
  font-size: 1em;
  margin-top: 2%;
  padding-bottom: 0.3em;
  margin-right: 3%;
  font-family: 'Lusitana',serif;
}
.social a:hover {
  border-color: #2c68b2;
  color: #2c68b2;
}
footer {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: .9em;
  color: #acacac;
  font-family: 'Raleway', san-serif;
  letter-spacing: .2em;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 3.5em;
  }
  .name-hr {
    width: 100px;
  }
  nav {
    font-size: .8em;
  }
  .name p {
    font-size: 1.2em;
  }
  .about-me p {
    font-size: .7em;
  }
  .about-me h3 {
    font-size: .8em;
  }
  figcaption h3 {
    font-size: .8em;
  }
  .portfolio h3:hover {
    font-size: 1.1em;
    font-style: italic;
}
  button {
    padding: 4px;
    font-size: .6em;
    margin-top: 20px;
    height: 25px;
  }
  .query {
    font-size: 1em;
  }
  .contact-form {
    width: 20%;
  }
  #name, #email, #comment {
    height: 1.7em;
    font-size: 1em;
  }
  .about-hr {
    width: 70px;
  }
}

@media screen and (max-width: 640px) {

  nav {
    font-size: .65em;
  }
  .name p {
    font-size: 1.2em;
  }
  .about-me p {
    font-size: .6em;
  }
  .about-me h2, .portfolio h2, .contact h2 {
    font-size: 1em;
  }
  .about-me h3 {
    font-size: .6em;
  }
  figcaption h3 {
    font-size: .7em;
  }
  .portfolio h3:hover {
    font-size: .9em;
    font-style: italic;
  }
  button {
    padding: 4px;
    height: 20px;
  }
  .query {
    font-size: 1em;
  }
  .contact-form {
    width: 20%;
  }
  #name, #email, #comment {
    height: 1.7em;
    font-size: 1em;
  }
  .about-hr {
    width: 50px;
  }
}
@media screen and (max-width: 480px) {
  .nav-right, .nav-left {
    float: left;
    margin: 2% 0 0 5%;
  }
  .about-me {
    padding-bottom: 60px;
  }
  h1 {
    font-size: 2.5em;
  }
  .name-hr {
    width: 70px;
  }
  .name p {
    font-size: 1em;
  }
  .about-me h3 {
    font-size: 8px;
    margin-top: -5px;
  }
  .about-me p {
    font-size: 8px;
    margin-top: 10px;
  }
  .portfolio {
    padding-bottom: 50px; 
    overflow: hidden;
  }
  .about-me h2, .portfolio h2, .contact h2{
    padding-top: 50px;
  }
  .about-me-section {
    width: 100%;
    float: none;
  }
  .about-me-section span {
    width: 50px;
  }

  .portfolio-container {
    margin-top: 40px;
    width: 85%;
  }
  .portfolio-indiv {
    width: 100%;
  }
  figcaption h3 {
    font-size: 1em;
  }
  button {
    margin-top: 45px;
    height: 28px;
    padding: 8px;
    font-size: .8em;
  }
  .query {
    font-size: .9em;
    width: 80%;
    margin: 0 auto;
  }
  .contact-form {
    width: 65%;
    margin: 30px auto;
  }
  #name, #contact, #email {
    font-size: 12.4px;
  }
  .contact {
    padding-bottom: 30px;
    min-height: 0;
  }
  footer {
    font-size: 10px;
  }
}
